.vertical-menu {
    background: #2a3042;
    width: 250px;
    z-index: 1001;
    background: #fff;
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    padding-top: 70px;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.popup-content {
    width: auto !important;
    background: transparent !important;
    border: none !important;
}

.chat-conversation {
    height: 460px;
    overflow: scroll;
    overflow-x: hidden;
}

.chat-conversation .conversation-list {
    margin-bottom: 24px;
    display: inline-block;
    position: relative;
}

.chat-conversation .conversation-list .dropdown {
    float: right;
}

.chat-conversation .conversation-list .ctext-wrap {
    padding: 12px 24px;
    background-color: rgba(85, 110, 230, .1);
    border-radius: 8px 8px 8px 0;
    overflow: hidden;
}

.chat-conversation .conversation-list .ctext-wrap .conversation-name {
    font-weight: 600;
    color: #556ee6;
    margin-bottom: 4px;
}

.chat-conversation .conversation-list .chat-time {
    font-size: 12px;
}

.chat-box {
    height: 550px;
    overflow: hidden;
}

.chat-box .card-body {
    position: relative;
}

.chat-box .card-body .chat-input-section {
    bottom: 0;
}

.ps__thumb-y {
    transition: background-color .2s linear, width .2s ease-in-out;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
    width: 6px;
    right: 2px;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 2rem;
}


/* Track */

 ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 2rem;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background-color: #888;
    transition: background-color .2s linear, width .2s ease-in-out;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
    border-radius: 2rem;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.popup-overlay {
    position: fixed;
    inset: 0px;
    display: flex;
    z-index: 12000 !important;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.chat-conversation .conversation-list .dropdown .dropdown-toggle {
    display: none;
}

.option-1,
.option-2,
.option-3,
.option-5,
.option-4,
.option-6 {
    background: purple !important;
    color: #fff !important;
    transition: all .3s ease;
}

.option-4 {
    background: #34c38f !important;
}

.option-5 {
    background: blue !important;
}

.option-6 {
    background: #f46a6a !important;
}

.login {
    position: absolute;
    width: 74.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}